$themeColor: #2c3e50;
$themeHoverColor: #ecf5ff;
$borderColor: #eeeeee;

$asideWidth: 200px;

$asideFont: #999999;
$asideHoverFont: #ffffff;
$headerFont: #333333;

// sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5;

$menuBg:#304156;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;
